@font-face {
    font-family: 'PP Agrandir';
    src: url('PPAgrandir-Regular.woff2') format('woff2'),
        url('PPAgrandir-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Agrandir';
    src: url('PPAgrandir-TextBold.woff2') format('woff2'),
        url('PPAgrandir-TextBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

