/* ====================================
// css variables
// ==================================== */
@import "bootstrap/scss/bootstrap-grid";
:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */
@font-face {
  font-family: "PPAgrandir";
  src: url("../fonts/PPAgrandir-Regular.woff2") format("woff2"),
    url("../fonts/PPAgrandir-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PPAgrandir";
  src: url("../fonts/PPAgrandir-TextBold.woff2") format("woff2"),
    url("../fonts/PPAgrandir-TextBold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
/* ====================================
// font
// ==================================== */

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }

body {
  font-family: PPAgrandirVariable;
  font-size: 16px;
  color: #ff0000;
  letter-spacing: 0;
}

@media (max-width: 576px) {
  .logo-footer {
    display: none;
  }
}

@media (max-width: 576px) {
  .burger {
    display: none;
  }
}

header {
  position: relative;
}

#myVideo {
  position: absolute;
  top: 0;
  right: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(2px) brightness(50%);
}

h1 {
  font-size: 24px;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  font-family: "PPAgrandir";
  font-weight: 500;
  font-size: 50px;
  color: #ff0000;
  letter-spacing: 0;
}

a {
  text-decoration: none;
  // margin: 37px 0;
  margin: 18px 0;
}

.header-opening-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }
}

.opening-status {
  margin: 0 15px 7px 0;
}

.day-hour-status {
  margin: 0 0 7px 12px;
}

h2 {
  font-family: "PPAgrandir";
  font-weight: 500;
  font-size: 50px;
  color: #ff0000;
  letter-spacing: 0;
  text-align: center;
}

.about-part {
  padding: 0px 50px;
  margin: 108px 0 108px 0;
}

@media (max-width: 768px) {
  .about {
    margin: 30px 0;
    padding: 0;
  }
}

.coffee-choice {
  margin: 10px 0;
}

.hourly-background {
  background-image: url(../img/photo_café_1.webp);
  max-width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 102px;
  // filter: blur(2px) brightness(80%);
}
// au pire mettre du flou sur ps

.card-coffee {
  margin: 100px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.coffee-adresse {
  padding-right: 160px;
}

h3 {
  font-family: PPAgrandirVariable_Bold;
  font-size: 20px;
  color: #ff0000;
  letter-spacing: 0;
}

footer {
  background-color: red;
  font-family: PPAgrandirVariable_Bold;
  font-size: 20px;
  color: #ffffff;
  letter-spacing: 0;
}

.contact-title {
  color: white;
}

.hourly-card {
  text-align: center;
  margin: 30px 0 60px 0;
}

.hourly-title {
  margin-bottom: 10px;
}

.container-fluid {
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.image-mountain {
  padding-bottom: 20px;
}

.galerie-image {
  height: 100%;
  object-fit: cover;
}

.artist-card {
  box-shadow: 0 0 5px black;
  margin-bottom: 30px;
}

.image-next-artist {
  height: 106px;
  width: 100%;
  object-fit: cover;
}

.contents-next-artist {
  padding: 15px 5px;
}

.title-artist {
  margin-bottom: 5px;
}

.exhibition-date {
  margin-bottom: 45px;
}

@media (min-width: 576px) {
  .leemiller-card {
    padding-bottom: 100px;
  }
}

.phone-link {
  margin: 0;
}

.email-link {
  margin: 0 0 20px 0;
}

.social-media-link {
  margin-right: 20px;
}

.social-media-box {
  margin-bottom: 30px;
}

@media (max-width: 576px) {
  .header-card {
    height: 210px;
  }
}

// .header-card {
//   height: 210px;
// }

.footer-coffee-name {
  color: #ffffff;
}

.coffee-name-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
}

@media (min-width: 576px) {
  .hourly-card {
    margin: 242px 0;
  }
}

.title-coffee-shop {
  padding: 7px 15px;
}

a:hover {
  color: white;
}

#menutoggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menutoggle a {
  text-decoration: none;
  color: red;
  transition: color 0.3s ease;
}

#menutoggle a:hover {
  color: gray;
}

#menutoggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menutoggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.077, 0.2, 0.05, 1),
    backgound 0.5s cubic-bezier(0.077, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menutoggle span:first-child {
  transform-origin: 0% 0%;
}

#menutoggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menutoggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background-color: #232323;
}

#menutoggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menutoggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background-color: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.077, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menutoggle input:checked ~ ul {
  transform: none;
}
